@{
    ViewData["Title"] = "Home Page";
}
@model City;
@using (Html.BeginForm("GetWeather", "Home", FormMethod.Post))
{
    <div class="text-center">
        <h4 >Enter your City Zip or Name</h4>
        <br />
        @Html.TextBoxFor(model => model.CityName)
        <input type="submit" value="Submit" />

    </div>
    <hr />
    <div>
        <h4>Weather</h4>
     
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CityName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CityName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HighestTemp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HighestTemp)
            </dd>
        </dl>
    </div>
}
